anndata==0.10.2
captum==0.6.0
dataset==1.6.2
h5py==3.8.0
ipython==8.12.0
loguru==0.7.0
matplotlib==3.7.1
numpy==1.23.5
packaging==23.2
pandas==2.0.0
psutil==5.9.0
PyYAML==6.0.1
scanpy==1.9.5
scikit_learn==1.3.0
scipy==1.11.3
seaborn==0.13.0
torch==2.0.1
tqdm==4.65.0
tables==3.9.1
numexpr==2.8.4
transformers==4.30.2